{% from 'utils/button_play.html' import play_button with context %}
{% from 'utils/button_stop.html' import stop_button with context %}
{% from 'c/comment.html' import make_comment %}
{% from 'utils/tabs.html' import insert_tabs %}
{% from 'c/block_body.html' import insert_block with context %}
<div class="code-line">
    {{ insert_tabs(tabs) }}
    {{- play_button(id, act_type_play, phase_label_play, act_name) -}}
    <span class="keyword">for</span>{{- stop_button(id, phase_label_stop, act_name) }}
    (<span class="variable">{{init}}</span>;
    <span class="variable">{{cond}}</span>;
    <span class="variable">{{update}}</span>)
    &nbsp;{{ make_comment(name) }}
</div>
{{ insert_block(loop_body, tabs, seq_id, act_type_play, phase_label_play, act_iter_name, phase_label_stop) }}